/* 
Outer most wrapper starts here
*/

.basic-select {
    padding: .5em;
}

.no-events {
    pointer-events: none;
}

.disabled-wrapper {
    cursor: not-allowed;
    background-color: #e9ecef;
}

/* 
Outer most wrapper ends here
*/



/* 
Label starts here
*/

.select__label--wrapper,
.select__label--secondary-wrapper {
    display: inline-block;
    padding: 0;
}

.select__label--wrapper {
    margin-bottom: .5em;
}

.select__label--text {
    color: #777;
    margin: 0;
}

.select__label--secondary-wrapper {
    margin: 0;
}

.select__label--secondary-text {
    color: #999;
    font-size: .8em;
    margin: 0;
}

/* 
Label ends here
*/

.basic-select__container {
    position: relative;
    width: 15em;
    min-height: 3em;
    display: flex;
    align-items: center;
    gap: .5em;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

    padding: .5em;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}



.basic-select__container:focus.disabled-wrapper {
    background-color: #e9ecef;
    border-color: #ced4da;
    box-shadow: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.basic-select__container:focus {
    color: #212529;
    background-color: #fff;
    /* border-color: #86b7fe; */
    outline: 0;
    box-shadow: 0 0 0 0.10rem rgba(13, 110, 253, 0.25);
}

.required {
    box-shadow: 0 0 0 0.10rem rgba(255, 2, 2, 0.25);
}

.basic-select__container:focus.required {
    box-shadow: 0 0 0 0.10rem rgba(255, 2, 2, 0.25);
}

.basic-select__value {
    flex-grow: 1;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.basic-select__clear-btn {
    background: none;
    color: #777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
}

.basic-select__clear-btn:focus,
.basic-select__clear-btn:hover {
    color: #333;
}

.basic-select__divider {
    background-color: #777;
    align-self: stretch;
    width: .05em;
}

/* 
Dropdown element
*/
.basic-select__dropdown {
    cursor: pointer;
}

.options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 15em;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: .25em;
    width: 100%;
    left: 0;
    top: calc(100% + .25em);
    background-color: white;
    z-index: 100000;
    box-shadow: 0 0 0 0.05em rgba(206, 212, 218, 1);
}

.options.show {
    display: block;
}

.option {
    padding: .25em .5em;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.option.selected {
    background-color: rgba(13, 110, 253, .25);
}

.option.highlighted {
    background-color: rgba(13, 110, 253, .50);
    color: white
}